@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://static.pexels.com/photos/26206/pexels-photo.jpg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
}
/***Button***/
.btn {
    border-radius: 9x;
    font-family: 'Ubuntu', sans-serif;
    color: #036A81;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #036A81 3px;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover {
    color: #FFF;
    border: solid #FFF 3px;
    
}